
    <nav class="flex-column">
        <div class="dark-menu">
            <a id="search-btn" href="#"><i class="fa fa-tachometer" aria-hidden="true"></i></a>
            <a href="student"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
            <a class="active" href="teacher"><i class="active-icon fa fa-file-text-o" aria-hidden="true"></i></a>
            <a href="loading"><i class="fa fa-book" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-sliders" aria-hidden="true"></i></a>
            <a href="User"></a>
            <a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a>
            <a href="signin"><i class="fa fa-power-off" aria-hidden="true"></i></a>
      </div>
    </nav>

