td {
    border: 1px solid #726e6d;
    padding: 15px;
}

thead {
    font-weight: bold;
    text-align: center;
    background: #625d5d;
    color: white;
}

.title{
    padding: 2px;
    letter-spacing: 2px;
}

table {
    border-collapse: collapse;
    min-width: 500px;
}

.footer {
    text-align: right;
    font-weight: bold;
}

tbody > tr:nth-child(odd) {
    background: #d1d0ce;
}

.student-profile .card {
    border-radius: 10px;
}

    .student-profile .card .card-header .profile_img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: 10px auto;
        border: 10px solid #ccc;
        border-radius: 50%;
    }

    .student-profile .card h3 {
        font-size: 20px;
        font-weight: 700;
    }

    .student-profile .card p {
        font-size: 16px;
        color: #000;
    }

.student-profile .table th,
.student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}