@page "/ManagementSystem"

<a href="studentSystem">
    <div id="success-box">
        <div class="dot"></div>
        <div class="message"><h1 class="alert">Student System</h1></div>
    </div>
</a>
<a href="teacherSystem">
    <div id="success-box">
        <div class="dot"></div>
        <div class="message"><h1 class="alert">Teacher System</h1></div>
    </div>
</a>
<a href="librarySystem">
    <div id="success-box">
        <div class="dot"></div>
        <div class="message"><h1 class="alert">Library System</h1></div>
    </div>
</a>
<a href="examSystem">
    <div id="success-box">
        <div class="dot"></div>
        <div class="message"><h1 class="alert">Exam System</h1></div>
    </div>
</a>
<a href="subjectSystem">
    <div id="success-box">
        <div class="dot"></div>
        <div class="message"><h1 class="alert">Subject System</h1></div>
    </div>
</a>
